/* general styling */
body{
  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: #b5e3ec;
margin: 0;
padding: 150px;
}

.resume-container {
display: flexbox;
background-color: rgb(171, 207, 177);
width: 80%;
margin :0 auto;
border-radius: 10px;
box-shadow: 0 0 20px rgb(161, 84, 141);
}
/* left section styling */
.left-section {

 background-color: hsla(50, 84%, 22%, 0.75);
 color: azure;
 padding: 20px;
 width: 35%;
 text-align: center;
 border-right: 5px solid rgb(238, 125, 33);


}

.profile-picture{
width: 150px;
height: 150px;
margin-top: 10%;
border-radius: 50%;
border: 5px solid #bf0; 
margin-bottom: 20px;
}

h1 {
font-size: 24px;
margin: 10px 0;
margin-bottom: 30px;
text-align: centre;
}

h3{

font-size: 18px;
padding:2%;
margin: 20px 0 10px;
color: black;
border-radius: 10px;
box-shadow: 0 0 15px rgb(161, 84, 141);
margin-top: 5%;
margin-bottom: 5%;
}
 ul {
list-style-type: circle;
padding: 10;
margin: 10px o;


 }





ul li {
    margin: 5px 0;



}

/* right section styling */
.right-section {

padding: 20px;
width: 65%;


}

button{
font-family: Arial, Helvetica, sans-serif;
border-radius: 10px;
box-shadow: 0 0 15px rgb(161, 84, 141);
cursor: pointer;
margin-top: 10px;
font-size: 18px;
.hidden{

    display: none;
}



}

button:hover {

background-color: rgb(203, 28, 28);



}







































